.env
secrets/
backups/
script.py
.DS_Store

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Personal Memory & Log files
test_memory_temp.md
data/logs/
data/memory/
test_camera_log.md
config/

# Local Tests Folder
tests


# Backups
*.bak

# Local idea sketches
project_ideas/
