MODEL_NAME=Emery
TELEGRAM_TOKEN=YOUR_TOKEN_HERE
OPEN_WEBUI_URL=http://localhost:3000/api/v1/chat/completions
OPEN_WEBUI_KEY=YOUR_KEY_HERE
MODEL_ID=gemma4:26B
VISION_MODEL_ID=gemma4:e4b
SEARXNG_URL=http://localhost:8080/search
NASA_API_KEY=YOUR_KEY_HERE
GEMINI_API_KEY=YOUR_KEY_HERE
GOOGLE_CALENDAR_IDS=primary
GOOGLE_CREDENTIALS_PATH=/app/auth/credentials.json
GOOGLE_TOKEN_PATH=/app/auth/token.json
IMAGE_MODEL=gemini-3.1-flash-image-preview
STT_URL=http://localhost:3000/api/v1/audio/transcriptions
TTS_URL=http://localhost:8880/v1/audio/speech
TTS_VOICE=af_heart
USER_NAME=Jack
USER_GENDER=Male
USER_BIRTHDAY="January 1, 1989"
USER_FAMILY="Girlfriend, Jessica, born July 9 1990. Son, Leo, born October 30 2017."
USER_LOCATION="New York City, New York"
USER_TIMEZONE=America/New York
USER_PROFESSION="AI Expert"
OVERSEER_URL=http://localhost:5055/api/v1
OVERSEER_KEY=YOUR_KEY_HERE
OVERSEER_USER_ID=1
NOAA_LAT=43.0117
NOAA_LONG=-88.2315
NOAA_EMAIL=example@example.com
NEWS_FEEDS="REUTERS|https://news.google.com/rss/search?q=when:24h+source:reuters&hl=en-US&gl=US&ceid=US:en, FOX|http://feeds.foxnews.com/foxnews/latest, TECH|https://news.google.com/rss/search?q=when:24h+technology&hl=en-US&gl=US&ceid=US:en"
